body {
  background-color: #84a59d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.containerTitle {
  text-align: center;
}
.containerTitle h1 {
  color: #ffd60a;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.containerTitle h1:hover{
  color: #f28482;
  text-decoration: underline;
  transition: 2s;
}
.containerTitle p {
  color: #bc4749;
  font-size: 25px;
  text-transform: uppercase;
  font-weight:500;
}
.subtitle {
  color: #f7ede2;
  text-align: center;
  
}
.containerSelect {
  background-color: #f28482;
  width: 600px;
  margin: auto;
  border: 2px solid #f1faee;
  border-radius: 20px;
  padding: 10px;
  
}
.selectEstilos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.selectEstilos select {
  background-color: #f7ede2;
  color: #343a40;
  width: 300px;
  text-align: center;
  border: 2px solid salmon;
  border-radius: 20px;
  height: 30px;
}
.selectEstilos label {
  color: rgb(31, 32, 29);
  margin-bottom: 5px;
  font-weight:500;
}
